@import "../config";

$height: 25vh;

:host {
  position: relative;
  width: 100%;
  height: $height;
  // min-height: 200px;
  // max-height: 500px;
  display: block;
  // overflow: hidden;
}

owl-carousel-o {
  height: 100%;

  .slide-image {
    height: $height;
    width: 100%;
  }
}

.container-fluid {
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;

  &#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  #flag-horizontal {
    width: 50%;

    .sliderControls {
      font-size: 2rem;
      margin: 5px;
      color: #78c55f;
    }
    .items {
      a {
        padding: 5px 10px;

        img {
          width: 60px;
        }
      }
    }
  }

  #flag-sm {
    display: none;
  }
}

@include mediaLg {
  .container-fluid {
    height: 180px;

    #logo {
      img {
        width: 180px;
      }
    }

    #flag-horizontal {
      display: none;
    }

    #flag-sm {
      display: block;
      width: 100px;
      position: relative;
      margin-right: 50px;

      .all {
        position: absolute;
        top: 100%;
        left: 0;
        height: 400px;
        // z-index: 99999;
        // display: none;
        width: 90%;
        overflow: auto !important;
        background-color: #fff;

        i.fa {
          font-size: 1.5rem;
          padding: 5px;
        }

        li {
          padding: 10px;
        }
      }
    }
  }
}
@include mediaMd {
  .container-fluid {
    height: 160px;
    #logo {
      img {
        width: 150px;
      }
    }

    #flag-sm {
      width: 90px;
      margin-right: 10px;

      .all {
        height: 300px;
      }
    }
  }
}
@include mediaSm {
  .container-fluid {
    height: 120px;
    #logo {
      img {
        width: 100px;
      }
    }

    #flag-sm {
      width: 80px;
      .all {
        height: 250px;
      }
      // margin-right: 10px;
    }
  }
}
