@import "../config";

$height: 15vh;

:host {
  position: relative;
  width: 100%;
  height: $height;
  // min-height: 200px;
  // max-height: 500px;
  display: block;
  // overflow: hidden;
}

owl-carousel-o {
  height: 100%;

  .slide-image {
    height: $height;
    width: 100%;
  }
}

.container-fluid {
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  // align-items: center;

  z-index: 1;

  #logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;

    img {
      width: 110px;
      max-height: 100%;
    }
  }

  .titles {
    width: 60%;
    text-align: center;
    // transform: translateX(140px);
    margin-top: auto;

    h4 {
      text-transform: uppercase;
      margin-bottom: 0px;
      font-size: 1.6rem;
      font-weight: bold;
    }
  }

  &#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(231, 230, 242);
    background: linear-gradient(
      90deg,
      rgba(231, 230, 242, 1) 0%,
      rgba(231, 230, 242, 0.8) 55%,
      rgba(231, 230, 242, 0) 100%
    );
    z-index: -1;
  }
}

#flags {
  width: 20%;
  // overflow: hidden;
  max-height: 100%;
  // display: flex;
  // height: $height;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #flag-horizontal {
    // width: 35%;
    align-self: flex-start;
    width: 100%;
    height: 45px;
    .sliderControls {
      font-size: 1.5rem;
      margin: 5px;
    }
    .items {
      // height: fit-content;
      // height: $height;
      // height: 100%;
      height: inherit;
      display: flex;
      align-items: center;
      a {
        padding: 5px 10px;

        img {
          width: 45px;
        }
      }
    }
  }

  #flag2-horizontal {
    // width: 35%;
    align-self: flex-start;
    width: 100%;
    height: 45px;
    .sliderControls {
      font-size: 1.5rem;
      margin: 5px;
    }
    .items {
      // height: fit-content;
      // height: $height;
      // height: 100%;
      height: inherit;
      display: flex;
      align-items: center;
      a {
        padding: 5px 10px;

        img {
          width: 45px;
        }
      }
    }
  }
}

#flag-sm {
  display: none;
}

@include mediaLg {
  .container-fluid {
    // height: 180px;

    #logo {
      img {
        width: 100px;
      }
    }

    .titles {
      margin: auto;
      h4 {
        font-size: 1.4rem;
      }
      p {
        display: none;
      }
    }

    #flag-horizontal,
    #flag2-horizontal {
      display: none;
    }

    #flag-sm {
      display: flex;
      // width: 60px;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;

      .active {
        width: 60px;
      }

      .all {
        position: absolute;
        top: 80%;
        left: 0;
        height: 400px;
        // z-index: 99999;
        // display: none;
        width: 90%;
        overflow: auto !important;
        background-color: #fff;

        i.fa {
          font-size: 1.5rem;
          padding: 5px;
        }

        li {
          padding: 10px;

          a {
            display: block;
            height: 50px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
@include mediaMd {
  .container-fluid {
    // height: 160px;
    #logo {
      img {
        width: 80px;
      }
    }

    #flag-sm {
      // width: 45px;
      // display: flex;
      // margin: auto;
      // margin-right: 10px;

      .all {
        height: 300px;
      }
    }
  }
}
@include mediaSm {
  .container-fluid {
    // height: 120px;
    #logo {
      img {
        width: 70px;
      }
    }

    #flag-sm {
      width: 80px;
      .all {
        height: 250px;
      }
      // margin-right: 10px;
    }
  }
}
