:host {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  .controls {
    position: absolute;
    right: 12px;
    top: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    z-index: 1;

    i:first-child {
      margin-right: 10px;
    }
    i {
      cursor: pointer;
    }
  }
}

.wrapper {
  // display: ;

  .single-item {
    padding: 10px;

    img {
      max-width: 100%;
    }
  }

  &.grid {
    display: flex;
    // justify-content: space-between;
    flex-flow: row wrap;
    // display: grid;
    // grid-auto-columns: 200px;
    // grid-gap: 10px;

    .single-item {
      width: 200px;
      height: 200px;
      margin: 3px;
    }

    &::after {
      content: "";
      flex: auto;
    }
  }
}
