<horizontal-slider
  [ngClass]="{ visible: visible }"
  [style.background]="'#' + style?.value"
  id="footer"
>
  <i class="left-control sliderControls fa fa-angle-left"></i>
  <div class="items">
    <a *ngFor="let item of menuItems" href="{{ item.clink }}">
      {{ item.name }}
    </a>
  </div>
  <i class="right-control sliderControls fa fa-angle-right"></i>
</horizontal-slider>

<button
  (click)="toggleFooter()"
  [style.background]="'#' + style?.value"
  id="footerToggle"
>
  <i class="fa fa-angle-left"></i>
</button>
