<div class="social-outer-container">
  <div
    (mousemove)="handleMouseMove($event)"
    #socialInnerContainer
    class="social-inner-container stfc_scrollbar"
  >
    <div *ngIf="type === 'iparragraph'" class="image-container">
      <img
        (load)="onImageLoad()"
        (click)="open(0)"
        [MultiResolution]="breakPoints"
        src="{{ _album[0]?.thumb }}"
        alt=""
        [@zoomFadeIn]="animate ? 'visible' : 'hidden'"
      />
    </div>
    <p
      *ngFor="let p of paragraphs; let odd = odd"
      class="{{ odd ? 'stfc_paragraph odd' : 'stfc_paragraph even' }}"
    >
      {{ p.value }}
    </p>
  </div>
</div>
