<!-- <i
  (mouseover)="sService.slideRight($event)"
  (mouseleave)="sService.slideStop($event)"
  class="right-control sliderControls fa fa-angle-left"
></i> -->
<!-- <div class="slider-wrapper"> -->

<!-- <span id="test">scrollablewidth: {{ scrollableWidth | async }}</span> -->
<span
  [style.opacity]="currentScrollLeft | async"
  class="stfc_arrows"
  (mouseover)="slideToRight($event)"
  (mouseleave)="slideStop($event)"
>
  <ng-content select=".to-left-control"></ng-content>
</span>
<span
  [style.opacity]="currentScrollLeft | async"
  class="stfc_arrows"
  (mouseover)="slideRight($event)"
  (mouseleave)="slideStop($event)"
>
  <ng-content select=".left-control"></ng-content>
</span>

<div #sliderContainer class="sliderContainer">
  <ng-content select=".items"></ng-content>
</div>

<span
  [style.opacity]="scrollableWidth | async"
  class="stfc_arrows"
  (mouseover)="slideLeft($event)"
  (mouseleave)="slideStop($event)"
>
  <ng-content select=".right-control"></ng-content>
</span>
<span
  [style.opacity]="scrollableWidth | async"
  class="stfc_arrows"
  (mouseover)="slideToLeft($event)"
  (mouseleave)="slideStop($event)"
>
  <ng-content select=".to-right-control"></ng-content>
</span>
<!-- </div> -->
