<!-- <div *ngIf="config?.type === 'doublemenu'" class="contentontainer"> -->
<div class="contentontainer">
  <vertical-slider [class]="region === 'left' ? 'left' : 'right'">
    <i class="up-control main-slider-controls fa fa-angle-up"></i>
    <ul class="items">
      <li
        (mouseenter)="showInnerMenu($event)"
        (mouseleave)="hideInnerMenu($event)"
        *ngFor="let item of mainItems"
      >
        <a class="stfc_link" href="{{ item.clink }}">
          {{ item.value }}
        </a>
        <div *ngIf="config?.value === 'single'" class="oneItems">
          <i (click)="owlCar.prev()" class="fa fa-angle-left"></i>
          <owl-carousel-o [options]="customOptions" #owlCar>
            <ng-template *ngFor="let pItem of item.pull04" carouselSlide
              ><a class="oneItem" href="{{ pItem.clink }}">{{
                pItem.value
              }}</a></ng-template
            >
          </owl-carousel-o>
          <i (click)="owlCar.next()" class="fa fa-angle-right"></i>
        </div>
        <ng-template [ngIf]="item.childrens">
          <div *ngIf="config?.value === 'many'" class="left-inner-menu">
            <horizontal-slider>
              <i class="left-control fa fa-angle-left slider-controls"></i>
              <div class="items">
                <a *ngFor="let pItem of item.pull04" href="{{ pItem.clink }}">{{
                  pItem.value
                }}</a>
              </div>
              <i class="right-control fa fa-angle-right slider-controls"></i>
            </horizontal-slider>
            <i
              (click)="toggleSticky()"
              [class.pinned]="pinned"
              class="fa fa-asterisk sticky"
            ></i>
          </div>
        </ng-template>
      </li>
    </ul>
    <i class="down-control main-slider-controls fa fa-angle-down"></i>
  </vertical-slider>
</div>
