@import "../config";

:host {
  height: inherit;
  display: inherit;
  width: 100%;

  .contentontainer {
    height: inherit;
    width: 100%;
  }
}

vertical-slider {
  height: inherit;

  i.main-slider-controls {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 30px;
    width: 30px;
    line-height: 29px;
    color: #78c55f;
    transition: color 0.5s ease-in;
    margin: 5px auto;
    padding-left: 5px;

    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  ul.items {
    li {
      text-align: center;
      margin: 15px 0;
      width: 100%;
      display: block;

      &:hover {
        // .left-inner-menu {
        //   display: block;
        // }

        & > a {
          color: $hover-color;
        }
      }

      & > a {
        font-size: 1.5em;
        color: inherit;
        transition: color 0.5s ease-in;
      }

      .oneItems {
        // background: #78c55f;
        // padding: 10px 10px 55px 10px;
        width: 100%;
        display: flex;
        height: 0;
        justify-content: space-around;
        align-items: center;
        visibility: hidden;
        // overflow: hidden;
        // display: flex;

        i.fa {
          font-size: 1.4rem;
          cursor: pointer;

          &:hover {
            color: $hover-color;
          }
        }

        owl-carousel-o {
          width: 80%;
          // display:

          a.oneItem {
            color: $text-color;
            transition: color 0.2s ease-in;
            font-size: 1.5em;
            // white-space: nowrap;

            &:hover {
              color: $hover-color;
            }
          }
        }

        // .oneItem {
        //   display: inline;

        //   a {
        //     // display: block;
        //     padding: 10px;
        //   }
        // }
      }
    }
  }

  .left-inner-menu {
    position: absolute;
    left: calc(100% - 42px);
    background-color: transparent;
    padding-left: 25px;
    visibility: hidden;
    z-index: 10;
    // display: none;
    // background: #78c55f;

    &.hidden {
      display: none;
    }

    &.single-type {
      width: 250px;
    }

    horizontal-slider {
      width: 250px;
      background: #78c55f;
      padding: 10px;
      padding-bottom: 25px;
      border-radius: 5px;
      transition: none;

      .slider-controls {
        padding: 0 10px;
        font-size: 1.5rem;
        margin-top: 2px;

        &:hover {
          color: $hover-color;
        }
      }

      a {
        font-size: 1rem;
        display: inline-block;
        padding: 5px;
        white-space: nowrap;
        color: inherit;
        &:hover {
          color: $hover-color;
        }
      }
    }

    i.sticky {
      position: absolute;
      bottom: 5px;
      font-size: 12px;
      cursor: pointer;
      z-index: 20;

      &.pinned {
        background: rgb(163, 157, 157);
        padding: 2px;
        border-radius: 50%;
      }
    }
  }

  &.right {
    .left-inner-menu {
      left: unset;
      right: 0;
      padding-right: 25px;
    }
  }
}

@include mediaLg() {
}
