<!-- <horizontal-slider id="horizontal" style="width: 500px" [duration]="5">
  <i class="left-control sliderControls fa fa-angle-left"></i>
  <div class="items">
    <a *ngFor="let menu of menuItems" class="noselect" href="{{ menu.link }}">{{
      menu.item
    }}</a>
  </div>
  <i class="right-control sliderControls fa fa-angle-right"></i>
</horizontal-slider> -->

<!-- <vertical-slider style="height: 300px">
  <i class="up-control sliderControls fa fa-angle-up"></i>
  <ul class="items">
    <li *ngFor="let menu of menuItems">
      <a class="noselect" href="{{ menu.link }}">{{ menu.item }}</a>
    </li>
  </ul>
  <i class="down-control sliderControls fa fa-angle-down"></i>
</vertical-slider> -->

<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><a href="">Link One</a></ng-template>
  <ng-template carouselSlide><a href="">Link 2</a></ng-template>
  <ng-template carouselSlide><a href="">Link 3</a></ng-template>
  <ng-template carouselSlide><a href="">Link 5</a></ng-template>
  <ng-template carouselSlide><a href="">Link 5</a></ng-template>
  <ng-template carouselSlide><a href="">Link 55</a></ng-template>
  <ng-template carouselSlide><a href="">Link 5556</a></ng-template>
</owl-carousel-o> -->

<app-top-header></app-top-header>
<app-top-section></app-top-section>
<div class="container-fluid">
  <div class="row">
    <div
      id="leftSidebar"
      [style.background]="'#' + leftStyle.bgcolor.value"
      class="col-2"
      [class.sidebarVisible]="leftVisible"
      [@bounceInLeft]="leftVisible"
      [@bounceOutLeft]="!leftVisible"
    >
      <div class="side-bar">
        <app-left-section
          region="left"
          [config]="left?.styles.menutype"
          [data]="left?.menus"
        ></app-left-section>
      </div>
      <div (click)="leftVisible = !leftVisible" class="sidebar-control">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>

    <div id="mainContent" class="col-lg-8 col-md-12">
      <router-outlet></router-outlet>
    </div>

    <div
      id="rightSidebar"
      [style.background]="'#' + rightStyle.bgcolor.value"
      class="col-2"
      [class.sidebarVisible]="rightVisible"
      [@bounceInRight]="rightVisible"
      [@bounceOutRight]="!rightVisible"
    >
      <div class="side-bar">
        <!-- <app-right-section [config]="right?.menutype"></app-right-section> -->
        <!-- <app-left-section region='right' [config]="rightConfig()"></app-left-section> -->
        <app-left-section
          region="right"
          [config]="right?.styles.menutype"
          [data]="right?.menus"
        ></app-left-section>
      </div>
      <div (click)="rightVisible = !rightVisible" class="sidebar-control">
        <i class="fa fa-angle-left"></i>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid"> -->
<app-bottom-section></app-bottom-section>
<!-- </div> -->
