.items {
  li {
    // display: inline-block;
    padding: 15px 35px;

    a {
      color: inherit;
    }
  }
}

#horizontal {
  a {
    // display: inline-block;
    padding: 10px;
  }
}

.sliderControls {
  color: red;
  font-size: 2em;
}
.side-bar {
  height: calc(100vh - 110px);
  display: flex;
  padding: 0 0 0 10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}
