<!-- <horizontal-slider id="horizontal" style="width: 500px" [duration]="5">
  <i class="left-control sliderControls fa fa-angle-left"></i>
  <div class="items">
    <a *ngFor="let menu of menuItems" class="noselect" href="{{ menu.link }}">{{
      menu.item
    }}</a>
  </div>
  <i class="right-control sliderControls fa fa-angle-right"></i>
</horizontal-slider> -->

<!-- <vertical-slider style="height: 300px">
  <i class="up-control sliderControls fa fa-angle-up"></i>
  <ul class="items">
    <li *ngFor="let menu of menuItems">
      <a class="noselect" href="{{ menu.link }}">{{ menu.item }}</a>
    </li>
  </ul>
  <i class="down-control sliderControls fa fa-angle-down"></i>
</vertical-slider> -->

<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><a href="">Link One</a></ng-template>
  <ng-template carouselSlide><a href="">Link 2</a></ng-template>
  <ng-template carouselSlide><a href="">Link 3</a></ng-template>
  <ng-template carouselSlide><a href="">Link 5</a></ng-template>
  <ng-template carouselSlide><a href="">Link 5</a></ng-template>
  <ng-template carouselSlide><a href="">Link 55</a></ng-template>
  <ng-template carouselSlide><a href="">Link 5556</a></ng-template>
</owl-carousel-o> -->

<app-top-header></app-top-header>
<app-top-section></app-top-section>
<div class="container-fluid">
  <div class="row">
    <div [style.background]="'#' + leftStyle.bgcolor.value" class="col-2">
      <div class="side-bar">
        <app-left-section [config]="leftConfig()"></app-left-section>
      </div>
    </div>

    <div class="col-8"><router-outlet></router-outlet></div>

    <div [style.background]="'#' + rightStyle.value" class="col-2">
      <div class="side-bar">
        <app-right-section [config]="rightConfig()"></app-right-section>
        <!-- <app-left-section [config]="rightConfig()"></app-left-section> -->
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid"> -->
<app-bottom-section></app-bottom-section>
<!-- </div> -->
