<!-- <div [ngStyle]="styles" class="container-fluid"> -->
<div class="container-fluid region_header">
  <div class="row">
    <div class="container">
      <horizontal-slider>
        <i class="to-left-control fa fa-angle-double-left slider-controls"></i>
        <i class="left-control fa fa-caret-left slider-controls"></i>
        <div class="items">
          <a
            class="stfc_link"
            [class.active]="item.clink === activeItem"
            *ngFor="let item of menuItems"
            href="{{ item.clink }}"
            >{{ item.name }}</a
          >
        </div>
        <i class="right-control fa fa-caret-right slider-controls"></i>
        <i
          class="to-right-control fa fa-angle-double-right slider-controls"
        ></i>
      </horizontal-slider>
    </div>
  </div>
</div>
