@import "../config";
$text-color: rgb(33, 37, 41);
$hover-color: #f5774f;

.container-fluid {
  height: auto;
}

horizontal-slider {
  .slider-controls {
    font-size: 2em;
    margin: auto 10px;
  }
  .items {
    a {
      display: inline-block;
      font-size: 1.2rem;
      padding: 10px;
      // color: $text-color;
      transition: 0.3s ease-in;
      &:hover {
        color: $hover-color;
      }
    }
  }
}

@include mediaLg {
  horizontal-slider {
    .items {
      a {
        font-size: 1rem;
      }
    }
  }
}

@include mediaMd {
  horizontal-slider {
    .items {
      a {
        font-size: 0.8rem;
      }
    }
  }
}

@include mediaSm {
  horizontal-slider {
    .items {
      a {
        font-size: 0.6rem;
      }
    }
  }
}
