<ng-container [ngSwitch]="type">
  <p
    class="{{ types[type].class + ' stfc_headings' }}"
    [innerHTML]="content"
    *ngSwitchCase="'heading'"
  ></p>
  <p
    class="{{ types[type].class + ' stfc_headings' }}"
    [innerHTML]="content"
    *ngSwitchCase="'subHeader'"
  ></p>
  <p
    class="{{ types[type].class + ' stfc_headings' }}"
    [innerHTML]="content"
    *ngSwitchCase="'paragraph'"
  ></p>
  <p
    class="{{ types[type].class }}"
    [innerHTML]="content"
    *ngSwitchCase="'versionTitle'"
  ></p>
  <p [innerHTML]="content" *ngSwitchDefault></p>
</ng-container>

<!-- <p class="{{ types[type].class }}" [innerHTML]="content"></p> -->
