<ng-container [ngSwitch]="type">
  <p
    class="{{ types[type].class + ' stfc_headings' }}"
    [innerHTML]="content"
    *ngSwitchCase="'heading'"
    id="{{ anchorId ? anchorId : '' }}"
  ></p>
  <p
    class="{{ types[type].class + ' stfc_headings' }}"
    [innerHTML]="content"
    *ngSwitchCase="'subHeader'"
    id="{{ anchorId ? anchorId : '' }}"
  ></p>
  <p
    class="{{ types[type].class + ' stfc_headings' }}"
    [innerHTML]="content"
    *ngSwitchCase="'paragraph'"
    id="{{ anchorId ? anchorId : '' }}"
  ></p>
  <p
    class="{{ types[type].class }}"
    [innerHTML]="content"
    *ngSwitchCase="'versionTitle'"
  ></p>
  <p class="{{ types[type].class }}" *ngSwitchCase="'HR'">
    {{ content }}
  </p>
  <p
    class="{{ types[type].class }}"
    *ngSwitchCase="'image'"
    id="{{ anchorId ? anchorId : '' }}"
  >
    <img src="{{ content }}" alt="" />
  </p>
  <p
    id="{{ anchorId ? anchorId : '' }}"
    [innerHTML]="content"
    *ngSwitchDefault
  ></p>
</ng-container>

<!-- <p class="{{ types[type].class }}" [innerHTML]="content"></p> -->
