// $base-fontSize: 1.3rem;

// :host {
//   //   display: inherit;
//   font-size: inherit;

p {
  .stfc_link {
    text-decoration: underline;
  }
}

.stfc_header {
  font-size: calc(100% + 2px);
}

.stfc_subheader {
  font-size: calc(100% + 1px);
}

.stfc_version {
  font-size: calc(100% - 1px);
}
// }
