// $base-fontSize: 1.3rem;

// :host {
//   //   display: inherit;
//   font-size: inherit;

@import "../../config";

p {
  .stfc_link {
    // text-decoration: underline;
  }
}

.stfc_regex_H {
  font-size: calc(100% + 2px);
}

.stfc_regex_S {
  font-size: calc(100% + 1px);
}

.stfc_version {
  font-size: calc(100% - 1px);
}

p.stfc_hr {
  // position: relative;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
// }

@include mediaLg {
  .stfc_version,
  p.stfc_hr {
    display: none;
  }
}
