<footer
  id="footer"
  [ngClass]="{ visible: visible }"
  [style.background]="'#' + config?.bgcolor"
>
  <div class="container">
    <button
      [style.background]="'#' + config?.bgcolor"
      (click)="toggleFooter()"
      id="footerToggle"
    >
      <i class="fa fa-angle-up"></i>
    </button>

    <div id="footerNav">
      <i
        (mouseover)="sService.slideRight($event)"
        (mouseleave)="sService.slideStop($event)"
        class="sliderControls fa fa-angle-left"
      ></i>
      <ul class="sliderContainer">
        <li #footerMenu *ngFor="let menu of menuItems" class="footerNavItem">
          <a class="noselect" href="{{ menu.clink }}">{{ menu.name }}</a>
        </li>
      </ul>
      <i
        (mouseover)="sService.slideLeft($event)"
        (mouseleave)="sService.slideStop($event)"
        class="sliderControls fa fa-angle-right"
      ></i>
    </div>
  </div>
</footer>
