:host {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}
.social-outer-container {
  height: 100%;
}

.social-inner-container {
  height: inherit;
  overflow-y: scroll;
  padding-right: 15px;
}
