/* You can add global styles to this file, and also import other style files */

// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 700);

@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

$text-color: rgb(33, 37, 41);
$hover-color: #f5774f;
$nav-color: #78c55f;

* {
  margin: 0;
  padding: 0;
}
body {
  //   font-family: "Open Sans", "sans-serif";
  //   font-size: 14px;
  color: $text-color;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

// .slick-initialized.slick-slider {
//   display: flex;
//   overflow: hidden;

//   i.slick-arrow {
//     // position: absolute;
//     &.fa.fa-angle-left {
//       // margin-left: -20px;
//     }
//     &.fa.fa-angle-right {
//       margin-left: auto;
//       margin-right: -20px;
//     }
//   }

//   .slick-list {
//     display: flex;
//     width: 80%;
//     .slick-track {
//     }
//   }
// }
